server {
server_name cis3760team105.live www.cis3760team105.live;
location / {
proxy_pass http://10.188.0.4:5000;
}

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/cis3760team105.live/fullchain.pem; # managed by C>
    ssl_certificate_key /etc/letsencrypt/live/cis3760team105.live/privkey.pem; # managed by>
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}
server {
    if ($host = www.cis3760team105.live) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = cis3760team105.live) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


listen 80;
server_name cis3760team105.live www.cis3760team105.live;
    return 404; # managed by Certbot




}